<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f60bec93-32a9-45da-9d83-4c6cfee08d15/resourcegroups/GAPSegurosServicios20190226095841ResourceGroup/providers/Microsoft.Web/sites/GAPSegurosServicios20190226095841</ResourceId>
    <ResourceGroup>GAPSegurosServicios20190226095841ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gapsegurosservicios20190226095841.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gapsegurosservicios20190226095841.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GAPSegurosServicios20190226095841</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GAPSegurosServicios20190226095841</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=gapsegurosdb.database.windows.net;Initial Catalog=gapsegurosdb;Persist Security Info=True;User ID=gapsegurosdbadmin;Password=gapsegurosdbP@ssw0rd;Application Name=EntityFramework" Name="Data Source=gapsegurosdb.database.windows.net;Initial Catalog=gapsegurosdb;Persist Security Info=True;User ID=gapsegurosdbadmin;Password=gapsegurosdbP@ssw0rd;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=gapsegurosdb.database.windows.net;Initial Catalog=gapsegurosdb;Persist Security Info=True;User ID=gapsegurosdbadmin;Password=gapsegurosdbP@ssw0rd;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gapsegurosdb.database.windows.net;initial catalog=gapsegurosdb;persist security info=True;user id=gapsegurosdbadmin;password=gapsegurosdbP@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string="data source=gapsegurosdb.database.windows.net;initial catalog=gapsegurosdb;persist security info=True;user id=gapsegurosdbadmin;password=gapsegurosdbP@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>