<div>
  <!--<form action="https://gapsegurosservicios20190226095841.azurewebsites.net/recuperartoken">-->
    <div>
      <span>username</span>
      <input type="text" [(ngModel)]="username">
    </div>
    <div>
      <span>password</span>
      <input type="text" [(ngModel)]="password">
    </div>
    <div>
      <button (click)="login()">Login</button>
    </div>
    <!--<div>
      <span>username</span>
      <input type="text" name="username">
    </div>
    <div>
      <span>password</span>
      <input type="text" name="password">
    </div>
    <div>
      <input type="hidden" name="grant_type" value="password">
      <input type="submit" value="Submit">
    </div>-->
  <!--</form>-->
</div>

